# Scientific Computing with Python (Second Edition)
# Chapter 12

We start by importing all from Numpy. As explained in Chapter 01 the examples are written assuming this import is initially done. Furthermore, we import pandas.

In [1]:
from numpy import *
import pandas as pd

## 10. 1 A guiding example: Solar cells

For the rest of the chapter it is required that you have downloaded the files `solar.dat`, `rates.dat`, and `solarWatts.dat`. Safe them in the *same folder* as this notebook file.

*There is no code in this section.*

## 10.2 NumPy arrays and pandas dataframes

In [2]:
A=array( [[ 1., 2., 3.],
           [4., 5., 6.]])
A

array([[1., 2., 3.],
       [4., 5., 6.]])

In [3]:
import pandas as pd
A=array( [[ 1., 2., 3.],
          [ 4., 5., 6.]] )
AF = pd.DataFrame(A)
AF

     0    1    2
0  1.0  2.0  3.0
1  4.0  5.0  6.0

In [4]:
AF.columns = ['C1','C2','C3']     
AF.index = ['R1', 'R2']
AF

     C1   C2   C3
R1  1.0  2.0  3.0
R2  4.0  5.0  6.0

### 10.2.1 Indexing rules

In [5]:
AF.loc['R1', 'C2']

2.0

In [6]:
AF.loc[['R1','R2'],['C1','C2']]

     C1   C2
R1  1.0  2.0
R2  4.0  5.0

In [7]:
AF.loc['R1']

C1    1.0
C2    2.0
C3    3.0
Name: R1, dtype: float64

In [8]:
AF.loc['R1'].loc['C1']    # returns 1.0

1.0

In [9]:
AF['C1']

R1    1.0
R2    4.0
Name: C1, dtype: float64

In [10]:
AF.C1

R1    1.0
R2    4.0
Name: C1, dtype: float64

In [11]:
AF.iloc[[0],[1]]

     C2
R1  2.0

In [12]:
AF.loc['R1':,'C2':]

     C2   C3
R1  2.0  3.0
R2  5.0  6.0

In [13]:
AF.loc[['R1','R2'], ['C2','C2']]

     C2   C2
R1  2.0  2.0
R2  5.0  5.0

In [14]:
AF.loc['R1','C2'] # returns 2.0

2.0

## 10.3 Creating and modifying dataframes
### 10.3.1 Creating a dataframe from imported data

In [15]:
solarWatts = pd.read_csv("solarWatts.dat", 
                         sep=';',
                         index_col='Date',
                         parse_dates=[0], infer_datetime_format=True)

In [18]:
solarWatts.iloc[0]

Watt    0.0
Name: 2019-10-20 07:00:00, dtype: float64