# Scientific Computing with Python (Second Edition)

# Chapter 03

*We start by importing all from Numpy. As explained in Chapter 01 the examples are written assuming this import is initially done.*

In [1]:
from numpy import *

## 3.1 Lists

In [5]:
L = ['a', 20.0, 5]
M = [3,['a', -3.0, 5]]

In [6]:
L[1] # returns 20.0

20.0

In [7]:
L[0] # returns 'a'

'a'

In [8]:
M[1] # returns ['a',-3.0,5]

['a', -3.0, 5]

In [10]:
M[1][2] # returns 5

5

In [12]:
L=list(range(4)) 
# generates a list with four elements: [0, 1, 2 ,3]
L

[0, 1, 2, 3]

In [13]:
L=list(range(17,29,4))  
# generates [17, 21, 25]
L

[17, 21, 25]

In [14]:
len(L) # returns 3

3

### 3.1.1 Slicing

In [16]:
L = ['C', 'l', 'o', 'u', 'd', 's']

In [17]:
L[1:5] # remove one element and take four from there:
# returns ['l', 'o', 'u', 'd']

['l', 'o', 'u', 'd']

In [18]:
L = ['C', 'l', 'o', 'u', 'd', 's']
L[1:] # ['l', 'o', 'u', 'd', 's']

['l', 'o', 'u', 'd', 's']

In [19]:
L[:5] # ['C', 'l', 'o', 'u', 'd']

['C', 'l', 'o', 'u', 'd']

In [20]:
L[:] # the entire list

['C', 'l', 'o', 'u', 'd', 's']

In [21]:
L = ['C', 'l', 'o', 'u', 'd', 's']

In [22]:
L[-2:] # ['d', 's']

['d', 's']

In [23]:
L[:-2] # ['C', 'l', 'o', 'u']￼

['C', 'l', 'o', 'u']

In [25]:
L = list(range(4)) # [0, 1, 2, 3]
L[4] # IndexError: list index out of range

IndexError: list index out of range

In [26]:
L[1:100] # same as L[1:]

[1, 2, 3]

In [27]:
L[-100:-1] # same as L[:-1]

[0, 1, 2]

In [28]:
L[-100:100] # same as L[:]

[0, 1, 2, 3]

In [29]:
L[5:0] # empty list []

[]

In [30]:
L[-2:2] # empty list []

[]

As we imported `numpy`, we have to make sure that we take the built-in command `sum` and not the one from `numpy`.

In [ ]:
sum=__builtin__.sum

In [33]:
a = [1,2,3]
for iteration in range(4): 
    print(sum(a[0:iteration-1]))

3
0
1
3

In [34]:
L = list(range(100))

In [35]:
L[:10:2] # [0, 2, 4, 6, 8]

[0, 2, 4, 6, 8]

In [36]:
L[::20] # [0, 20, 40, 60, 80]

[0, 20, 40, 60, 80]

In [37]:
L[10:20:3] # [10, 13, 16, 19]

[10, 13, 16, 19]

In [38]:
L[20:10:-3] # [20, 17, 14, 11]

[20, 17, 14, 11]

In [39]:
L = [1, 2, 3]

In [40]:
R = L[::-1] # L is not modified

In [41]:
R # [3, 2, 1]

[3, 2, 1]

### 3.1.2 Altering lists

In [45]:
L = ['a', 1, 2, 3, 4]
L

['a', 1, 2, 3, 4]

In [46]:
L[2:3] = [] # ['a', 1, 3, 4]
L

['a', 1, 3, 4]

In [47]:
L[3:] = [] # ['a', 1, 3]
L

['a', 1, 3]

In [48]:
L[1:1] = [1000, 2000] # ['a', 1000, 2000, 1, 3]
L

['a', 1000, 2000, 1, 3]

In [49]:
L = [1, -17]
M = [-23.5, 18.3, 5.0]
L + M # gives [1, -17, 23.5, 18.3, 5.0]

[1, -17, -23.5, 18.3, 5.0]

In [50]:
n = 3
n * [1.,17,3] # gives [1., 17, 3, 1., 17, 3, 1., 17, 3]

[1.0, 17, 3, 1.0, 17, 3, 1.0, 17, 3]

In [51]:
[0] * 5 # gives [0,0,0,0,0]

[0, 0, 0, 0, 0]

### 3.1.3 Belonging to a list

In [52]:
L = ['a', 1, 'b', 2]

'a' in L # True

True

In [53]:
3 in L # False

False

In [54]:
4 not in L # True

True

### 3.1.4 List methods

In [55]:
L = [1, 2, 3]
L.reverse() # the list L is now reversed
L # [3, 2, 1]

[3, 2, 1]

In [56]:
L=[3, 4, 4, 5]
newL = L.sort()

In [57]:
print(newL[0])

TypeError: 'NoneType' object is not subscriptable

In [60]:
L = [0, 1, 2, 3, 4]
L.append(5) # [0, 1, 2, 3, 4, 5]
L

[0, 1, 2, 3, 4, 5]

In [61]:
L.reverse() # [5, 4, 3, 2, 1, 0]
L

[5, 4, 3, 2, 1, 0]

In [62]:
L.sort() # [0, 1, 2, 3, 4, 5]
L

[0, 1, 2, 3, 4, 5]

In [63]:
L.remove(0) # [1, 2, 3, 4, 5]
L

[1, 2, 3, 4, 5]

In [64]:
L.pop() # [1, 2, 3, 4]
L

[1, 2, 3, 4]

In [65]:
L.pop() # [1, 2, 3]
L

[1, 2, 3]

In [66]:
L.extend(['a','b','c']) # [1, 2, 3, 'a', 'b', 'c']
L

[1, 2, 3, 'a', 'b', 'c']

### 3.1.5 Merging lists – `zip`

In [67]:
ind = [0,1,2,3,4]
color = ["red", "green", "blue", "alpha"]
list(zip(color,ind)) # gives [('red', 0), ('green', 1), ('blue', 2), ('alpha', 3)]

[('red', 0), ('green', 1), ('blue', 2), ('alpha', 3)]

### 3.1.6 List comprehension

In [69]:
L = [2, 3, 10, 1, 5]
L2 = [x*2 for x in L] # [4, 6, 20, 2, 10]
L2

[4, 6, 20, 2, 10]

In [70]:
L3 = [x*2 for x in L if 4 < x <= 10] # [20, 10]
L3

[20, 10]

In [72]:
M = [[1,2,3],[4,5,6]]
flat = [M[i][j] for i in range(2) for j in range(3)] 
# returns [1, 2, 3, 4, 5, 6]
flat

[1, 2, 3, 4, 5, 6]

## 3.2 A quick glance at the concept of arrays

In [73]:
v = array([1.,2.,3.])
A = array([[1.,2.,3.],[4.,5.,6.]])

In [74]:
v[2]     # returns 3.0

3.0

In [75]:
A[1,2]   # returns 6.0

6.0

In [76]:
M = array([[1.,2.],[3.,4.]])
v = array([1., 2., 3.])
v[0] # 1

1.0

In [77]:
v[:2] # array([1.,2.])

array([1., 2.])

In [78]:
M[0,1] # 2

2.0

In [79]:
v[:2] = [10, 20] # v is now array([10., 20., 3.])
v

array([10., 20.,  3.])

In [80]:
len(v) # 3

3

## 3.3 Tuples

In [82]:
my_tuple = 1, 2, 3     # our first tuple
my_tuple = (1, 2, 3)   # the same
my_tuple = 1, 2, 3,    # again the same
my_tuple

(1, 2, 3)

In [83]:
len(my_tuple) # 3, same as for lists

3

In [84]:
my_tuple[0] = 'a'   # error! tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [85]:
1, 2 == 3, 4 # returns (1, False, 4)

(1, False, 4)

In [86]:
(1, 2) == (3, 4) # returns False

False

In [87]:
singleton = 1,   # note the comma
len(singleton)   # 1

1

In [88]:
singleton = (1,) # this creates the same tuple

### 3.3.1 Packing and unpacking variables

In [90]:
a, b = 0, 1 # a gets 0 and b gets 1
a, b = [0, 1] # exactly the same effect
(a, b) = 0, 1 # same
[a,b] = [0,1] # same thing
print(a, b)

0 1

In [91]:
a, b = b, a
print(a,b)

1 0

## 3.4 Dictionaries

In [93]:
truck_wheel = {'name':'wheel','mass':5.7,
               'Ix':20.0,'Iy':1.,'Iz':17.,
               'center of mass':[0.,0.,0.]}
truck_wheel

{'name': 'wheel',
 'mass': 5.7,
 'Ix': 20.0,
 'Iy': 1.0,
 'Iz': 17.0,
 'center of mass': [0.0, 0.0, 0.0]}

In [94]:
truck_wheel['name']   # returns 'wheel'

'wheel'

In [95]:
truck_wheel['mass']   # returns 5.7

5.7

In [96]:
truck_wheel['Ixy'] = 0.0
truck_wheel

{'name': 'wheel',
 'mass': 5.7,
 'Ix': 20.0,
 'Iy': 1.0,
 'Iz': 17.0,
 'center of mass': [0.0, 0.0, 0.0],
 'Ixy': 0.0}

In [97]:
truck_wheel = dict([('name','wheel'),('mass',5.7),       
                    ('Ix',20.0), ('Iy',1.), ('Iz',17.), 
                    ('center of mass',[0.,0.,0.])])
truck_wheel

{'name': 'wheel',
 'mass': 5.7,
 'Ix': 20.0,
 'Iy': 1.0,
 'Iz': 17.0,
 'center of mass': [0.0, 0.0, 0.0]}

### 3.4.2 Looping over dictionaries

In [98]:
for key in truck_wheel.keys():
    print(key) # prints (in any order) 'Ix', 'Iy', 'name',...

name
mass
Ix
Iy
Iz
center of mass

In [99]:
for key in truck_wheel:
    print(key) # prints (in any order) 'Ix', 'Iy', 'name',...

name
mass
Ix
Iy
Iz
center of mass

In [100]:
for value in truck_wheel.values():
    print(value) 
    # prints (in any order) 1.0, 20.0, 17.0, 'wheel', ...

wheel
5.7
20.0
1.0
17.0
[0.0, 0.0, 0.0]

In [101]:
for item in truck_wheel.items():
    print(item) 
    # prints (in any order) ('Iy', 1.0), ('Ix, 20.0),...

('name', 'wheel')
('mass', 5.7)
('Ix', 20.0)
('Iy', 1.0)
('Iz', 17.0)
('center of mass', [0.0, 0.0, 0.0])

## 3.5 Sets

In [102]:
A = {1,2,3,4}
B = {5}
B

{5}

In [104]:
C = A.union(B)   # returns {1, 2, 3, 4, 5}
C

{1, 2, 3, 4, 5}

In [105]:
D = A.intersection(C)   # returns {1, 2, 3, 4}
D

{1, 2, 3, 4}

In [106]:
E = C.difference(A)   # returns {5}
E

{5}

In [107]:
5 in C   # returns True

True

In [108]:
A = {1,2,3,3,3}
B = {1,2,3}
A == B # returns True

True

In [109]:
A = {1,2,3}
B = {1,3,2}
A == B # returns True

True

In [110]:
A={1,2,3,4}
A.union({5})
A.intersection({2,4,6}) # returns {2, 4}

{2, 4}

In [111]:
{2,4}.issubset({1,2,3,4,5}) # returns True

True

In [112]:
{1,2,3,4,5}.issuperset({2,4}) # returns True

True

In [113]:
empty_set=set([])

## 3.6 Container conversions
No code.
## 3.7 Checking the type of a variable

In [117]:
label = 'local error'
type(label) # returns str

str

In [118]:
x = [1, 2] # list
type(x) # returns list

list

In [119]:
isinstance(x, list) # True

True

In [120]:
test = True
isinstance(test, bool) # True

True

In [121]:
isinstance(test, int) # True

True

In [122]:
type(test) == int # False

False

In [123]:
type(test) == bool # True

True

In [124]:
if isinstance(test, int):
    print("The variable is an integer")

The variable is an integer